{% extends 'base.html.twig' %}

{% block title %}Pdf Generation{% endblock %}

{% block body %}
    <h1>Pdf Generation</h1>

    <p>Remaining PDF Conversion: {{ remainingCount }}</p>

    {{ form_start(form) }}
        {{ form_row(form) }}
        <button type="submit">Generate</button>
    {{ form_end(form) }}

{% endblock %}
